.form-field {
  margin-bottom: 1rem;
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  input {
    padding: 0.5rem;
    width: 100%;
  }
}
.btn {
  padding: 0.5rem 1rem;
  background-color: #1da1f2;
  color: white;
  border: none;
  cursor: pointer;
}